/* globals.css */
@tailwind base;
@tailwind components;
@tailwind utilities;

/* Import Montserrat font from Google Fonts */
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;300;400;500;700;900&display=swap");

/* Root variables for theming */

/* Apply Montserrat to the body */
body {
  width: 100%;
  height: 100%;
  font-family: var(--font-inter), monospace;
}

.active {
  border-bottom: 2px solid #808080;
}

.no-scrollbar::-webkit-scrollbar {
  display: none;
}

.no-scrollbar {
  scrollbar-width: none;
}

.auth-fields input {
  @apply border-b border-b-[#808080] pb-1 text-lg text-[#999999] font-medium outline-none w-full;
}

.red-button{
  @apply bg-[#db4444] text-white rounded-[5px] text-sm sm:text-base transition-all duration-300 ease-in-out transform hover:bg-white  hover:text-black hover:scale-105 hover:shadow-lg hover:border hover:border-[#808080];
}

@media (min-width: 1366px) and (max-width: 1450px) {
  .px-20.hero-content {
    padding: 0 4rem;
  }
  .mx-32.music-container {
    margin: 0 6rem;
  }
}
@media (min-width: 768px) and (max-width: 1024px) {
  .px-20.hero-content {
    padding: 0;
  }
}

@media (min-width: 1024px) and (max-width: 1350px) {
  .px-20.hero-content {
    padding: 0 4rem !important;
  }
  .text-3xl.slide-content {
    font-size: 2rem;
    line-height: 2.5rem;
  }
  .mx-32.music-container {
    margin: 0 2rem;
  }
}

@media (max-width: 1279px) {
  .footer-container .four {
    margin-top: 5rem !important;
  }
  .footer-container .five {
    margin-top: 5rem !important;
  }
}

@media (min-width: 1023px) and (max-width: 1279px) {
  .login-container {
    @apply flex-col space-x-0 !important;
  }
  .login-one {
    @apply w-full !important;
  }
  .login-two {
    @apply w-full  space-x-0 !important;
  }
}
@media (max-width: 1023px) {
  .footer-container .three {
    margin-top: 5rem !important;
  }
}

@media (max-width: 559px) {
  .footer-container .two {
    margin-top: 5rem !important;
  }
}
